In [19]:
from datetime import timedelta,date
import holidays
import pandas as pd

# Calendar Dataframe

def calendar(year,country='ES',subdiv=None):
    """
    returns a dataframe with three columns:
    dates: with format [YYYY-MM-DD], ascending
    weekend: with value 1 if it's Saturday or Sunday, otherwise it returns 0.
    holidays: with value 1 if it's public holidays, otherwise it returns 0.
    """
    calendar=pd.DataFrame()

    def daterange(year):
        calendar = pd.DataFrame()
        calendar['Dates']=pd.date_range(f'{year}-01-01', f'{year}-12-31', freq='D')
        return calendar

    calendario = daterange(year)

    def weekends(calendar):
        calendar['weekday']= calendar['Dates'].apply(lambda x: x.weekday())
        weekend = {0:0,1:0,2:0,3:0,4:0,5:1,6:1}
        calendar['Weekend'] = calendar['weekday'].map(weekend)
        calendar.drop(columns='weekday',inplace=True)
        return calendar

    calendario = weekends(calendario)

    def public_holidays(calendar):
        es_cl_holidays = holidays.country_holidays(country,subdiv)
        calendar['Holidays']=calendar['Dates'].apply(lambda x: x in es_cl_holidays).map(int)
        return calendar
    calendario = public_holidays(calendario)

    def times(calendario):
        times=['Evening','Night']
        for i in range(1,4):
            calendario[f'Morning_{i}']=pd.Series(0)
        for t in times:
            for n in range(1,3):
                calendario[f'{t}_{n}'] = pd.Series(0)
        return calendario
    calendario = times(calendario)
    calendario['Month'] = calendario['Dates'].apply(lambda x: x.strftime('%b'))
    calendario['Week Number'] = calendario['Dates'].dt.isocalendar().week
    month = calendario['Month'].unique()
    calendarios={}
    for i in month:
        calendarios[i]= calendario[calendario['Month']==i]
    calendarios['All']= calendario
    return calendarios
    
   

# def accounting(workers_df,calendar_df):
#     workers=list(workers_df['name'])
#     for i in workers:
#         calendar_df[f'{i} T.C.']=0
#         calendar_df[f'{i} W.C.']=0
#         calendar_df[f'{i} M.C.']=0

In [47]:
calendario = calendar(2023,'ES','CL') ['All']

In [48]:
calendario

,Dates,Weekend,Holidays,Morning_1,Morning_2,Morning_3,Evening_1,Evening_2,Night_1,Night_2,Month,Week Number
0,2023-01-01,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Jan,52
1,2023-01-02,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jan,1
2,2023-01-03,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jan,1
3,2023-01-04,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jan,1
4,2023-01-05,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jan,1
...,...,...,...,...,...,...,...,...,...,...,...,...
360,2023-12-27,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dec,52
361,2023-12-28,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dec,52
362,2023-12-29,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dec,52
363,2023-12-30,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dec,52
364,2023-12-31,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dec,52

In [49]:
def load_employees(csv_file_path):
    data=pd.read_csv(csv_file_path,delimiter=';',header=0,index_col=False)
    return data

In [50]:
data = load_employees('/Users/monic/code/monicasainer/calendar/raw_data/Project.csv')

/var/folders/bs/pzl9llpn4z9d1kxlsk4k87y00000gn/T/ipykernel_37871/3319942800.py:2: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  data=pd.read_csv(csv_file_path,delimiter=';',header=0,index_col=False)

In [51]:
data

,name,age,experience,salary,schedule,gender,weekend,holiday,percentage
0,Pablo,23,1,23000,1,Male,1,1,1.00
1,Paula,49,25,30000,1,Female,1,1,1.00
2,Laura,62,34,32000,1,Female,1,1,1.00
3,Carlos,56,32,31000,1,Male,1,1,1.00
4,Estefania,28,2,26000,1,Non-binary,1,1,1.00
5,Sofia,23,1,23200,1,Female,1,1,0.65
6,Carla,49,25,30200,1,Female,1,1,0.50
7,Pepe,62,34,32200,1,Male,1,1,0.35
8,Cris,56,32,31200,1,Female,1,1,0.40
9,Alberto,22,1,23500,2,Male,1,1,1.00
10,Paco,55,32,31500,2,Male,1,1,1.00
11,Patricia,27,2,26500,2,Non-binary,1,1,1.00
12,Lucia,30,12,25500,2,Female,1,1,1.00